.header {
    height: 88px;
    background-color: var(--main-color);
    position: fixed;
    width: 100%;
    z-index: 4000;
}

.sub-header {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
}

.header h2 {
    padding-top: 11px;
    color: var(--main-text-color);
    margin: 0px;
    text-align: center;
    font-style: italic;
}

.icon-mtm {
    background-image: url(/assets/images/icons/icon.png);
    background-size: cover;
    display: block;
    width: 22px;
    height: 22px;
}

.menu-height {
    max-height: 10px;
}

.header p-button {
    position: fixed;
    top: 5px;
    right: 5px;
}

.icon-version .p-button-icon {
    color: var(--main-text-color);
}

.icon-version button:hover {
    background: var(--main-selected-hover-color);
    color: var(--main-text-selected-hover-color);
}

.p-button:enabled:focus {
    box-shadow: none;
}

/* TAB MENU */


.p-tablist-tab-list {
    background: transparent !important;
    height: 49px;
}

p-tabs p-tablist p-tab {
    color: var(--main-text-color); 
}

p-tabs p-tablist p-tab.p-tab-active {
    color: var(--main-selected-color) !important;
}

p-tabs p-tablist p-tab.p-ripple:hover {
    background: var(--main-selected-hover-color);
    border-radius: 8px 8px 0px 0px;
    color: var(--main-text-selected-hover-color);
}

