<div class="header">
    <div class="sub-header">
        <h2>{{ 'COMMON.title' | translate }}</h2>
        <p-button class="icon-version" icon="pi pi-question-circle" [rounded]="true" severity="secondary" 
            [text]="true" [raised]="true" [life]="2000" 
            tooltipEvent="focus" [pTooltip]="versionApp" tooltipPosition="left" (onClick)="showTooltip()"></p-button>
        <p-tabs [value]="selectedItem" (valueChange)="onTabChange($event)">
            <p-tablist>
                @for(tab of items; track tab.label){
                    <p-tab [value]="tab" [routerLink]="tab.routerLink">
                        <i [class]="tab.icon"></i>
                        <span>{{ tab.label }}</span>
                    </p-tab>
                }
            </p-tablist>
        </p-tabs>
    </div>
</div>