<p-tabView styleClass="tabview-custom" [(activeIndex)]="activeIndex" (onChange)="changeInfoCarousel($event)">
    <p-tabPanel *ngFor="let tab of dataInfo">
        <ng-template pTemplate = "header">
            <em [class]="tab.icon"></em>
            <span style="margin-left: 4px;">{{ tab.title }}</span>
        </ng-template>
        <div class="main-radio-button">
            <div *ngFor="let theme of themes" class="p-field-checkbox child-radio-button">
                <p-radioButton [inputId]="theme.key" [value]="theme.value" [(ngModel)]="selectedTheme" (onClick)="changeInfoCarousel()"></p-radioButton>
                <label [for]="theme.key">{{ 'COMMON.' + theme.value | translate }}</label>
            </div>
        </div>
        <app-icon-carousel [dataInfo]="dataInfoCarousel"></app-icon-carousel>
    </p-tabPanel>
</p-tabView>
