<p-tabs [(value)]="activeIndex" (valueChange)="changeInfoCarousel($event)">
    <p-tablist>
        @for(tab of dataInfo; track tab.title; let idx = $index){
            <p-tab [value]="idx">
                <em [class]="tab.icon"></em>
                <span style="margin-left: 4px;">{{ tab.title }}</span>
            </p-tab>
        }
    </p-tablist>
    <p-tabpanels>
        <div class="main-radio-button">
            <div *ngFor="let theme of themes" class="field-checkbox child-radio-button">
                <p-radioButton [inputId]="theme.key" [value]="theme.value" [(ngModel)]="selectedTheme" (onClick)="changeInfoCarousel()"></p-radioButton>
                <label [for]="theme.key">{{ 'COMMON.' + theme.value | translate }}</label>
            </div>
        </div>
        <app-icon-carousel [dataInfo]="dataInfoCarousel"></app-icon-carousel>
    </p-tabpanels>
</p-tabs>