.footer {
    bottom: 0px;
    width: 100%;
    height: 70px;
    background-color: var(--main-color);
}

.footer h4 {
    padding-top: 15px;
    padding-bottom: 5px;
    color: var(--main-text-color);
    text-align: center;
    margin: 0px;
    font-style: italic;
    font-size: 12px;
}

.footer p {
    color: var(--main-text-color);
    text-align: center;
    margin: 0px;
    padding-bottom: 5px;
    font-style: italic;
    font-size: 10px;
}

.footer p a {
    color: var(--main-text-color);
}
