<h3>{{ 'COOKIES.title' | translate }}</h3>
<p>{{ 'COOKIES.lastUpdate' | translate }}</p>
<p>{{ 'COOKIES.description' | translate }}</p>

<h4>{{ 'COOKIES.titleMeaning' | translate }}</h4>
<p>{{ 'COOKIES.descriptionMeaning' | translate }}</p>

<h4>{{ 'COOKIES.titleType' | translate }}</h4>
<p>{{ 'COOKIES.descriptionType1' | translate }}</p>
<ul>
    <li>{{ 'COOKIES.descriptionType2' | translate }}</li>
    <li>{{ 'COOKIES.descriptionType3' | translate }}</li>
    <li>{{ 'COOKIES.descriptionType4' | translate }}</li>
    <li>{{ 'COOKIES.descriptionType5' | translate }}</li>
    <li>{{ 'COOKIES.descriptionType6' | translate }}</li>
</ul>

<h4>{{ 'COOKIES.titleDisable' | translate }}</h4>
<p>{{ 'COOKIES.descriptionDisable' | translate }}</p>
<ul>
    <li><a [href]="linkDisableCookiesGoogle" target="_blank">{{ 'COOKIES.googleDisable' | translate }}</a></li>
    <li><a [href]="linkDisableCookiesEdge" target="_blank">{{ 'COOKIES.edgeDisable' | translate }}</a></li>
    <li><a [href]="linkDisableCookiesFirefox" target="_blank">{{ 'COOKIES.firefoxDisable' | translate }}</a></li>
    <li><a [href]="linkDisableCookiesSafari" target="_blank">{{ 'COOKIES.safariDisable' | translate }}</a></li>
</ul>

<h4>{{ 'COOKIES.titleThirds' | translate }}</h4>
<p>{{ 'COOKIES.descriptionThirds1' | translate }}</p>
<p>{{ 'COOKIES.descriptionThirds2' | translate }}</p>
<p>{{ 'COOKIES.descriptionThirds3' | translate }}</p>

<h4>{{ 'COOKIES.titleWarning' | translate }}</h4>
<p>{{ 'COOKIES.descriptionWarning' | translate }}</p>
