<div class="main-container">
    <div class="sub-container">
        <app-icon-header [dataInfo]="infoIconMtM"></app-icon-header>

        <h3>{{ 'POLICY_PRIVACY.title' | translate }}</h3>
        <p>{{ 'POLICY_PRIVACY.lastUpdate' | translate }}</p>

        <h4>1. {{ 'POLICY_PRIVACY.userInformation' | translate }}</h4>
        <p>{{ 'POLICY_PRIVACY.userInformationDescription' | translate }}</p>

        <h4>2. {{ 'POLICY_PRIVACY.contact' | translate }}</h4>
        <ul>
            <li>{{ 'POLICY_PRIVACY.company' | translate }}</li>
            <li>{{ 'COMMON.MTM_LARGE' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.companyContact' | translate }}</li>
        </ul>
        
        <h4>3. {{ 'POLICY_PRIVACY.mainPrinciples' | translate }}</h4>
        <p>{{ 'POLICY_PRIVACY.mainPrinciplesDescription1' | translate }}</p>
        <ul>
            <li>{{ 'POLICY_PRIVACY.mainPrinciplesDescription2' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.mainPrinciplesDescription3' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.mainPrinciplesDescription4' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.mainPrinciplesDescription5' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.mainPrinciplesDescription6' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.mainPrinciplesDescription7' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.mainPrinciplesDescription8' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.mainPrinciplesDescription9' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.mainPrinciplesDescription10' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.mainPrinciplesDescription11' | translate }}</li>
        </ul>
        <h4>4. {{ 'POLICY_PRIVACY.processingData' | translate }}</h4>
        <p>{{ 'POLICY_PRIVACY.processingDataDescription1' | translate }}</p>
        <p>{{ 'POLICY_PRIVACY.processingDataDescription2' | translate }}</p>

        <h4>5. {{ 'POLICY_PRIVACY.legitimacy' | translate }}</h4>
        <p>{{ 'POLICY_PRIVACY.legitimacyDescription1' | translate }}</p>
        <ul>
            <li>{{ 'POLICY_PRIVACY.legitimacyDescription2' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.legitimacyDescription3' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.legitimacyDescription4' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.legitimacyDescription5' | translate }}</li>
        </ul>
        
        <h4>6. {{ 'POLICY_PRIVACY.comunicationData' | translate }}</h4>
        <p>{{ 'POLICY_PRIVACY.comunicationDataDescription' | translate }}</p>

        <h4>7. {{ 'POLICY_PRIVACY.userRights' | translate }}</h4>
        <p>{{ 'POLICY_PRIVACY.userRightsDescription1' | translate }}</p>
        <ul>
            <li>{{ 'POLICY_PRIVACY.userRightsDescription2' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.userRightsDescription3' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.userRightsDescription4' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.userRightsDescription5' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.userRightsDescription6' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.userRightsDescription7' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.userRightsDescription8' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.userRightsDescription9' | translate }}</li>
            <li>{{ 'POLICY_PRIVACY.userRightsDescription10' | translate }}</li>
        </ul>

        <h4>8. {{ 'POLICY_PRIVACY.legalInformation' | translate }}</h4>
        <p>{{ 'POLICY_PRIVACY.legalInformationDescription' | translate }}</p>
    </div>
</div>
