<div class="main-container">
    <div class="sub-container">
        <app-icon-header [dataInfo]="infoIconMtM"></app-icon-header>
        <app-icon-list-card [dataInfo]="infoListCard"></app-icon-list-card>
        <app-icon-tab [dataInfo]="infoImageMtM"></app-icon-tab>
        <app-icon-links [dataInfo]="infoLinksMtm"></app-icon-links>
        <div class="p-grid p-flex-column">
            <app-icon-doc [dataInfo]="infoMtMFree"></app-icon-doc>
            <app-icon-links [dataInfo]="infoLinksMtmFree"></app-icon-links>
            <app-icon-doc [dataInfo]="infoMtM"></app-icon-doc>
        </div>
    </div>
</div>
